footer{
    /* background: #F7F7F7; */
    background-image: url(../images/footerbg.png);
    height: auto;
    width: 100%;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #000;
}
.footer-content img{
    max-width: 8rem;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #000;
    border: 1.1px solid #000;
    padding: 5px;

    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: 32CD32;
}

.footer-bottom{
    background: #006F2F;
    background: linear-gradient(90deg, rgba(0, 111, 47, 1) 50%, rgba(13, 184, 85, 1) 100%);
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#fff;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  /* float: right; */
  display: flex;
  justify-content: center;
  margin: 1rem 0;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #fff;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #32CD32;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
}
}